body {
	margin: 0px;
	margin-bottom: 0px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
}

.main {
	height: 100vh;
	background-color: #f5f5f5;
}

.header {
	position: relative;
	height: 5%;
	background-color: #333333;
	margin: 0px;
	color: white;
	display: flex;
	align-items: center;
}

.mainContents {
	width: 75%;
	height: 100%;
	float: left;
}

.menuListHeader {
	text-align: center;
	background-color: white;
}

.menuList {
	width: 100%;
	position: relative;
}

.menuCard {
	text-align: center;
}

#orderPage {
	height: 95%;
	position: absolute;
	overflow: hidden
}

.cardTop {
	width: 100%;
}

.subContents {
	width: 25%;
	height: 100%;
	float: right;
	background: white;
}

.subContentsHeader {
	background-color: white;
}

.subContentsOrderList {
	overflow-y: auto;
}

.subContentsBtnZone {
	text-align: center;
}

.orderList {
	background-color: white;
	width: 100%;
	float: right;
}

.mButton {
	cursor: pointer;
}

.menuCount {
	text-align: center;
	color: #1ED760;
}

.pButton {
	cursor: pointer;
}

.cancleButton {
	background-color: rgb(220, 226, 222, 1);
	cursor: pointer;
}

.cancleButton:hover {
	background-color: #AFAFAF !important;
}

.orderButton {
	background-color: rgb(30, 215, 96, 0.1);;
	cursor: pointer;
}

.orderButton:hover {
	background-color: #71F9A2 !important;
}

.orderContents {
	width: 20%;
	height: 95%;
	float: left;
	background-color: #ffffff;
}

.time {
	color: gray;
	font-size: 15px;
}

.orderNumber {
	margin-left: 5%;
	font-size: 30px;
}

.orderZone {
	width: 100%;
	height: 93%
}

/* .menuName {
	margin-left: 5%;
}
 */
.menuCount {
	border: solid 0px !important;
}

.orderZoneFooter {
	background-color: #ffffff;
}

.allPrice {
	font-size: 30px;
}

.payMentContens {
	width: 80%;
	float: right;
	background-color: #F5F5F5;
}

.payment {
	text-align: center;
	background-color: #ffffff;
}

.paymentPrice {
	font-weight: bold;
	font-size: 100px;
	position: relative;
}

.paymentChoice {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 50%;
	text-align: center;
}

.paymentMethod {
	height: 40%;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.paymentMethod:hover {
	background-color: #F6F6F6;
}